<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GFG Student Chapter | VU</title>

    <!-- important Meta tag and SEO -->
    <meta name="description"
        content="GeeksforGeeks Student Chapter of Vishwakarma University.A community where developers, designers and programming enthusiast unite to learn, innovate, and thrive together">
    <meta name="keywords" content="GFG, gfg, GeeksforGeeks, student Chapter, Vishwakarma University">
    <meta itemprop="description"
        content="GeeksforGeeks Student Chapter of Vishwakarma University.A community where developers, designers and programming enthusiast unite to learn, innovate, and thrive together">
    <meta name="twitter:title" content="GeeksforGeeks Student Chapter | Vishwakarma University">
    <meta name="twitter:description"
        content="GeeksforGeeks Student Chapter of Vishwakarma University.A community where developers, designers and programming enthusiast unite to learn, innovate, and thrive together">
    <meta name="theme-color" content="#318d44">
    <meta property="og:type" content="website">

    <!-- By preconnecting to the host, the browser can set up the necessary sockets ahead of time, eliminating extra round trips and saving time -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

    <!-- icons library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/Logos/club-logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/db14e25034.js" crossorigin="anonymous"></script>

    <!-- carousel library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- animation on scroll library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Linking css file -->
    <link rel="stylesheet" href="CSS/about.css">
    <link rel="stylesheet" href="CSS/upcoming.css">
    <link rel="stylesheet" href="CSS/contact.css">
    <link rel="stylesheet" href="CSS/events.css">
    <link rel="stylesheet" href="CSS/footer.css">
    <link rel="stylesheet" href="CSS/general.css">
    <link rel="stylesheet" href="CSS/navbar.css">
    <link rel="stylesheet" href="CSS/teams.css">
    <link rel="stylesheet" href="CSS/preloader.css">

    <!-- scripts -->
    <script src="script/active-navbar.js"></script>
    <script src="script/sidebar-functionality.js"></script>
</head>

<body>
    <div id="preloader"></div>
    <header>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26"
                            viewBox="0 96 960 960" width="26">
                            <path
                                d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
                        </svg></a></li>
                <li><a href="#about-us-dir" class="active">About us</a></li>
                <li><a href="#upcoming-dir">Upcoming Events</a></li>
                <li><a href="#events-dir">Events</a></li>
                <li><a href="#teams-dir">Teams</a></li>
                <li><a href="#contact-dir">Contact</a></li>
            </ul>
            <div class="logo">
                <a href="index.html"><img src="images/Logos/club-logo.png"></a>
                <a href="https://www.vupune.ac.in" target="_blank"><img src="images/Logos/VU_logo.jpg"></a>
            </div>
            <ul>
                <li class="hideOnMobile"><a href="#about-us-dir" class="active">About us</a></li>
                <li class="hideOnMobile"><a href="#upcoming-dir">Upcoming Events</a></li>
                <li class="hideOnMobile"><a href="#events-dir">Events</a></li>
                <li class="hideOnMobile"><a href="#teams-dir">Teams</a></li>
                <li class="hideOnMobile"><a href="#contact-dir">Contact</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                            height="26" viewBox="0 96 960 960" width="26">
                            <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
                        </svg></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <!-- Sahil's section -->
            <section class="about-us" id="about-us-dir">
                <div class="about-us-left" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500">
                    <div class="heading"><span>Geeks</span>forGeeks</div>
                    <div class="welcome">Welcome to</div>
                    <div class="description">GeeksforGeeks Student Chapter of Vishwakarma University. A community where
                        developers, designers and programming enthusiast unite to learn, innovate, and thrive together.
                    </div>
                </div>

                <div class="about-us-right">
                    <img src="images/Logos/gfg-poster.png">
                </div>
            </section>

            <!-- Upcoming-Events -->
            <section class="upcoming" id="upcoming-dir">
                <h1 class="upcoming-heading" data-aos="fade-down" data-aos-duration="800"><span>Upcoming</span> Events</h1>
    
                <div class="event-poster" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                   <% if (upcomingEvents.length > 0) { %>
                    <% upcomingEvents.forEach(event => { %>
                        <div class="event-item">
                            <% if (event.eventImage) { %>
                                <a href="<%= event.eventReg %>">  <img src="data:image/jpg;base64,<%= event.eventImage.toString('base64') %>" alt="Event Image" width="200"></a>
                            <% } %>
                        </div>
                    <% }); %>
                <% } else { %>
                    <h3>Stay tuned for new & exciting events 🤩!</h3>
                <% } %>
                </div>
        
        </section>

            <!-- Mustafa's section -->
            <section class="events" id="events-dir">
                <h1 id="heading" data-aos="fade-down" data-aos-duration="800">Past Events</h1>
                <div class="swiper-container" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <% pastEvents.forEach(event => { %>
                                <div class="swiper-slide">
                                    <% if (event.PastEventImage) { %>
                                        <img src="data:image/jpg;base64,<%= event.PastEventImage.toString('base64') %>" alt="Past Event Image">
                                    <% } %>
                                </div>
                            <% }); %>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>

            <!-- Hardik's section -->
            <section class="teams" id="teams-dir">
                <h1 id="heading" data-aos="fade-down" data-aos-duration="800"><span>Core</span>Team Members</h1>
                <div class="teams-container" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/chairperson.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Ajab Raja</h3>
                            <p class="title">Chairperson</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/ajab-raja-315444225?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BZwH3c39ZRO6ZsFKmw8SkjA%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/ajeebz" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/ajabb_sii/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                            <li><a href="https://x.com/ajabb_sii" target="_blank" aria-hidden="true"
                                    class='bx bxl-twitter'></a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/vice-chairperson.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Krish Gupta</h3>
                            <p class="title">Vice-Chairperson</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/krish-gupta-?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B7cQpWI4AQuG8gdqHEJ5jaA%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/codingwithkrish" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/codewithkrish/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                            <li><a href="https://x.com/_krishgupta" target="_blank" aria-hidden="true"
                                    class='bx bxl-twitter'></a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/tech-lead.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Aryan Mehta</h3>
                            <p class="title">Tech Lead</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/aryan-mehta230723?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2BVocFEpdTgWv8B2PShg11w%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/AryanMehta-xd" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/aryanmehta_xd/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/marketing-head.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Jay Khabde</h3>
                            <p class="title">Marketing Head</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/jay-khabde-914059236?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2FQ4or%2BRLSByfwJDCCDtooA%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/Jaykhabde" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/jaykhabde/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                            <li><a href="https://x.com/jaykhabde" target="_blank" aria-hidden="true"
                                    class='bx bxl-twitter'></a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/design-head.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Yojana Naik</h3>
                            <p class="title">Design & Branding Head</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/yojananaik25?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B2SwhBvWoRE6cqnsU7ChSZw%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/yojananaik" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/yojananaik/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                            <li><a href="https://x.com/yojananaik_25" target="_blank" aria-hidden="true"
                                    class='bx bxl-twitter'></a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/social-meadia-head.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Aarohi Samdani</h3>
                            <p class="title">Social Media Head</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/aarohi-samdani-b494b0244?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BMCgMMG6fTvuwsWYoxKbTVQ%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/Aarohi235" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/aarohi.s/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/pr-head.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Tejas Jadhav</h3>
                            <p class="title">PR & Outreach Head</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/tejas-jadhav-884704152?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bxk2oFiXDSQufjfo9A9Ib0A%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/tejasjadhav128" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/tejas_0303/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="photo">
                            <img src="images/CoreTeam/event-head.jpg">
                        </div>
                        <div class="c-content">
                            <h3 class="name">Rashi Chincholkar</h3>
                            <p class="title">Events Head</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="https://www.linkedin.com/in/rashi-chincholkar-15185b269?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BLDoYCEeXQ4iIyRQ2fPoMzQ%3D%3D"
                                    target="_blank" aria-hidden="true" class='bx bxl-linkedin-square'></a></li>
                            <li><a href="https://github.com/Rashi2106-Chincholkar" target="_blank" aria-hidden="true"
                                    class='bx bxl-github'></a></li>
                            <li><a href="https://www.instagram.com/i_.rashi_/" target="_blank" aria-hidden="true"
                                    class='bx bxl-instagram'></a></li>
                            <li><a href="https://x.com/Rashi2106" target="_blank" aria-hidden="true"
                                    class='bx bxl-twitter'></a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- Affan's section -->
            <section class="contact-us" id="contact-dir">
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSeTVXvJEZIlg4IDLUm1GWTusMkQtixWXknj7NJH-qdVT33pUQ/viewform?embedded=true"
                    width="640" height="900" frameborder="0" marginheight="0" marginwidth="0" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="300">Loading…</iframe>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <span>Made with</span>
            <i class="fa-solid fa-heart fa-beat" style="color: red;"></i>
            <span>by</span>
        </div>
        <div>GeeksforGeeks Student Chapter VU</div>
        <div class="social-links">
            <ul class="social-media">
                <li><a href="https://www.linkedin.com/in/gfg-vu?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BTGOGcwHOT7mnt5xPk%2Fhcmg%3D%3D"
                        class="icon" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/geeksforgeeks__vu/" class="icon" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://x.com/gfg_vu" class="icon" target="_blank"><i
                            class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/@GeeksforGeeks-VU" class="icon" target="_blank"><i
                            class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://chat.whatsapp.com/E6A8odNXuTG0cAOrNauBJ9" class="icon" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
        </div>
    </footer>

    <!-- initialize the animation library -->
    <script>AOS.init({
            once: true
        });</script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            }
        });
    </script>
    <script>
        function showSidebar() {
            event.preventDefault();
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
        function hideSidebar() {
            event.preventDefault();
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>

    <script>
        const body = document.body;
        lastScroll = 0;

        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;

            if (currentScroll <= 0) {
                body.classList.remove("scroll-up");
            }

            if (currentScroll > lastScroll && !body.classList.contains("scroll-down")) {
                body.classList.remove("scroll-up");
                body.classList.add("scroll-down");
            }

            if (currentScroll < lastScroll && body.classList.contains("scroll-down")) {
                body.classList.remove("scroll-down");
                body.classList.add("scroll-up");
            }

            lastScroll = currentScroll;
        })
    </script>

    <script>
        const loader = document.getElementById('preloader');

        window.addEventListener('load', function () {
            loader.style.display = 'none';
        })
    </script>
    <script src="script/logic.js"></script>
</body>

</html>