.events {
    padding: 20px 0 10px 0;
}

.events #heading{
    font-family: "Rubik Doodle Shadow", system-ui;
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.swiper-slide img {
    display: block;
    width: 70%;
    height: auto;
    max-width: 100%;
    border-radius: 12px;
}
.swiper-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.events {
    background-image: url(../images/background/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mySwiper {
    padding-bottom: 40px;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
}

.swiper-pagination-bullet-active{
    background-color: white;
}

@media (width < 1025px) {
    .swiper-slide{
        width: 80%;
    }
    .swiper-slide img{
        width: 80%;
    }
    .swiper-container{
        width: 80%;
    }
}

@media (width < 500px) {
    .events #heading{
        font-size: 2rem;
    }
    .swiper-slide{
        width: 90%;
    }
    .swiper-slide img{
        width: 90%;
    }
    .swiper-container{
        width: 90%;
    }
    .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
    }
}