body {
    font-family: Arial, sans-serif;
    background-color: #f2efef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #7f857f;
    padding: 20px;
    border-radius: 8px;
    border:9px solid #45a049;
    box-shadow: 0 0 10px rgba(117, 241, 127, 0.1);
    width: 300px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
